<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
    $(document).ready(function() {
        var options = {
            beforeSubmit: showRequest, // pre-submit callback 
            success: showResponse // post-submit callback 
        };

        // bind to the form's submit event 
        $('#uploader_form').submit(function() {
            $(this).ajaxSubmit(options);
            return false; // always return false to prevent standard browser submit and page navigation return false; 
        });
    });

    // pre-submit callback 
    function showRequest(formData, jqForm, options) {
        $("#status").html('Uploading is starting.');
        return true;
    }

    // post-submit callback 
    function showResponse(responseText, statusText, xhr, $form) {
        $("#status").html(responseText);
    }
    </script>
</head>

<body>
    <form id="uploader_form" enctype="multipart/form-data" action="/api/upload" method="post">
        <table>
            <tr>
                <td>
                    Paper Name:
                </td>
                <td>
                    <input class="beautiful_input" value="{{filename}}" type="text" name="paper_name" />
                </td>
            </tr>
            <tr>
                <td>
                    Paper:
                </td>
                <td>
                    <input class="button-css"  type="file" name="paper" />
                </td>
            </tr>
            <tr>
                <td>
                    Reviewers Comment:
                </td>
                <td>
                    <input class="button-css" type="file" name="reviewers_comment" />
                </td>
            </tr>
            <tr>
                <td>
                    Grade sheet for manuscript:
                </td>
                <td>
                    <input class="button-css"  type="file" name="grade_sheet_manuscript" />
                </td>
            </tr>
        </table>
        <input  type="hidden" name="email" value="{{email}}" />
        <input  type="hidden" name="reupload" value="{{reupload}}" />
        <br>
        <input class="button-css" type="submit" name="submit" id="btnSubmit" value="Upload" />
    </form>
    <button onclick="window.location.href='/'">Back</button>
    <p id="status" />
    
    <!-- <p>{{email}}</p> -->
</body>

</html>